<!DOCTYPE html>
<html>
<head>
  <title>表单补全页面</title>
  <style>
    .container{
      margin:0 auto;
      margin-top:45px;
    }

    input{
      width:600px;
      line-height:36px;
      padding-left:16px;
      font-size:24px;
    }

    ul.list{
      list-style-type: none;
      width:618px;
      border:1px solid #bdbdbd;
      position: absolute;
      top:72px;
      padding-left:0;
      background-color: #eee;
    }

    ul.list li{
      display:block;
      height:36px;
      line-height:36px;
      text-align: center;
      border-bottom:1px solid #bdbdbd;
    }
  </style>
</head>
<body>
<div class="container">
  <input type="text" id="myText" placeholder="输入你想要的内容" onkeyup="showContent(this.value,event)">
  <div id="wrap" style="display: none">
    <ul class="list">
      <li id="li-1" class="choose" style="display: none"></li>
      <li id="li-2"></li>
      <li id="li-3"></li>
      <li id="li-4"></li>
    </ul>
  </div>
</div>
<script src="javascripts/util.js"></script>
<script src="javascripts/task0002_4.js"></script>
</body>
</html>
